<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center">
    <h1>Possible carousel??</h1>
  </div>
<div>
<input ng-model="searchText" placeholder="Filter by entering a name, data, event, or location" style="width:50%;">
</div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="photo in main.photos | filter:searchText">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ photo.imgSrc }}" alt="{{ photo.title }}">
        <div class="caption">
          <h3>Location: {{ photo.location }}</h3>
          <p>People: 
            <ul>
              <li ng-repeat="person in photo.people">{{ person }}</li>
            </ul>
          </p>
          <p>Date: {{ photo.date }}</p>
          <p>Event: {{ photo.eventItem }}</p>

        </div>
      </div>
    </div>
  </div>

</div>
